In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
books = []
for i in range(1,51):
    url = f"https://books.toscrape.com/catalogue/page-{i}.html"
    response = requests.get(url)
    response = response.content
    soup = BeautifulSoup(response, "html.parser")
    ol = soup.find('ol')
    articles = ol.find_all('article', class_='product_pod')
    


    for article in articles:
        image = article.find('img')
        Title = image.attrs['alt']
        Star = article.find('p')
        Star = Star['class'][1]
        Price = article.find('p', class_='price_color').text
        Price = float(Price[1:])
        Availability = article.find('p', class_='instock availability').text
        Availability = Availability.strip()
        books.append([Title, Price, Star, Availability])

In [3]:
df =pd.DataFrame(books, columns=['Title','Price', 'Star Rating', 'Availability'])

In [4]:
df.head(10)

,Title,Price,Star Rating,Availability
0,A Light in the Attic,51.77,Three,In stock
1,Tipping the Velvet,53.74,One,In stock
2,Soumission,50.10,One,In stock
3,Sharp Objects,47.82,Four,In stock
4,Sapiens: A Brief History of Humankind,54.23,Five,In stock
5,The Requiem Red,22.65,One,In stock
6,The Dirty Little Secrets of Getting Your Dream...,33.34,Four,In stock
7,The Coming Woman: A Novel Based on the Life of...,17.93,Three,In stock
8,The Boys in the Boat: Nine Americans and Their...,22.60,Four,In stock
9,The Black Maria,52.15,One,In stock

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         1000 non-null   object
 1   Price         1000 non-null   float64
 2   Star Rating   1000 non-null   object
 3   Availability  1000 non-null   object
dtypes: float64(1), object(3)
memory usage: 31.4+ KB

In [6]:
df.to_csv('books.csv')